html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
body {
  background: #f7f7f7;
}
#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
}
@media all and (max-width: 800px) {
  #root {
    max-width: 100%;
  }
}
@media all and (max-height: 500px) and (orientation: landscape) {
  #root {
    flex-direction: row;
  }
}
.main-controls {
  flex: 1.25;
  position: relative;
  background: #f7f7f7;
}
.main-controls .controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.main-controls .controls .start-control {
  width: 110px;
  padding: 15px;
  background: #c0392b;
  color: #eee;
  border: none;
  border-bottom: 4px solid #940000;
  line-height: 1.1em;
  font-size: 1em;
  font-weight: bolder;
  border-radius: 6px;
  box-shadow: 0 1px 1px #940e00;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: opacity 0.2s;
}
.main-controls .controls .start-control:hover {
  opacity: 0.9;
}
.main-controls .controls .start-control:active {
  background: #a53c32;
  opacity: 1;
}
.main-controls .status-bar {
  height: 50px;
  display: flex;
  align-items: center;
  font-family: arial;
  background: #f3f3f3;
  box-shadow: 0px 0px 4px #737373;
}
.main-controls .status-bar .score-control {
  display: inline-block;
  padding-left: 15px;
  text-align: left;
}
.movement-controls {
  flex: 1.75;
  position: relative;
  background: #f3f3f3;
  box-shadow: 0px 0px 2px #bababa;
}
.movement-controls .slider-control {
  top: 50%;
  left: 50%;
  position: absolute;
}
.movement-controls .slider-control .slider-path {
  position: absolute;
  background-color: #597bb6;
  border-radius: 50%;
  width: 230px;
  height: 0;
  padding-bottom: 230px;
  transform: translate3d(-50%, -50%, 0);
  box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
  z-index: 1;
}
.movement-controls .slider-control .slider-path:before {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #ecf0f1;
  border-radius: 50%;
  top: 30%;
  left: 30%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.movement-controls .slider-control .slider-path .slider {
  position: absolute;
  width: 5%;
  height: 50%;
  left: 47.5%;
  top: 0;
  transform: rotate(0deg);
  transform-origin: center bottom;
}
.movement-controls .slider-control .slider-path .slider:before {
  content: "";
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #000;
  width: 90px;
  transform: translate3d(-40px, -5px, 0);
  height: 0;
  padding-bottom: 90px;
  border-radius: 50%;
  cursor: pointer;
}
.movement-controls .slider-control .shadow {
  border: 15px solid transparent;
  position: absolute;
  border-radius: 50%;
  width: 270px;
  height: 0;
  padding-bottom: 270px;
  transform: translate3d(-50%, -50%, 0);
  transition: border 0.2s;
  z-index: 0;
}
.movement-controls.disabled {
  opacity: 0.5;
}
